body {
    font: normal normal normal 30px 'Roboto-400', sans-serif;
    background-color: var(--ma-col-bg);
    color: var(--ma-col);
}

.navbar {
    font: normal normal normal 30px 'Roboto-700', sans-serif;
}

h1 {
    color: var(--ma-col-secondary);
    padding-bottom: 25px;
}

.content {
    padding: 50px 15px 15px;
}

a { color: var(--ma-col-tertiary) }
a:hover { color: white}

img {
    max-width: 100%;
    width: 100%;
}

.home-logo {
    background-color: white;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.24) 0 0 25px, rgba(255, 255, 255, 0.48) 0 0 30px;
}

.paragraph {
    padding: 0 200px;
}