body {
    font: normal normal normal 30px 'Roboto-400', sans-serif;
    background-color: var(--ma-col-bg);
    color: var(--ma-col);
}

.navbar {
    font: normal normal normal 30px 'Roboto-700', sans-serif;
}

h1 {
    color: var(--ma-col-secondary);
    padding-bottom: 25px;
}

.content {
    padding: 50px 15px 15px;
}

a { color: var(--ma-col-tertiary) }
a:hover { color: white}

img {
    width: 100%;
    height: 100%;
}

.paragraph {
    padding: 0 200px;
}