body {
    font: normal normal normal 30px 'Roboto-400', sans-serif;
    background-color: var(--ma-col-bg);
    color: var(--ma-col);
}

.navbar {
    font: normal normal normal 30px 'Roboto-700', sans-serif;
}

h1 {
    color: var(--ma-col-secondary);
    padding-bottom: 25px;
}

.content {
    padding: 50px 15px 15px;
}

a {
    text-decoration: none;
    color: var(--ma-col-secondary);
}

a:hover {
    color: white
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.paragraph {
    padding: 0 200px;
}

img {
    max-width: 100%;
}

.nowrap {
    white-space: nowrap;
}