.navbar {
    background-color: var(--ma-col-bg-dark);
    box-shadow: rgba(0, 0, 0, 0.24) 0 7px 5px, rgba(0, 0, 0, 0.48) 0 2px 3px;
    white-space: nowrap;
}

.nav-link {
    color: var(--ma-col);
    padding: .5rem 1rem;
}

.nav-link.nav-active {
    color: white;
    text-shadow: 2px 2px 6px var(--ma-col-secondary);
}

.nav-link:hover,
.nav-active.nav-link:hover{
    color: var(--ma-col-secondary);
    text-shadow: initial}

.nav-yt {
    max-width: 50px;
}

.home-logo {
    background-color: white;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.24) 0 0 10px, rgba(255, 255, 255, 0.48) 0 0 15px;
}

.nav-logo {
    background-color: white;
    max-width: 50px;
    height: auto;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.24) 0 0 5px, rgba(255, 255, 255, 0.48) 0 0 5px;
}