{% extends 'base.html.twig' %}

{% block content %}

    <div class="col-12 d-flex justify-content-center flex-column align-items-center">
        <div class="home-logo">
            <img class="img-responsive" src="{{ asset('build/mathia.png') }}" alt="mathia">
        </div>
        <h1 class="pt-5">
            Welcome to the Mathia!
        </h1>
    </div>
{% endblock %}