{% extends 'base.html.twig' %}

{% block content %}

    <div class="pt-5">
        <div class="d-flex">
            <div class="mathia-text astro-link text-nowrap fst-italic">Aug 12th</div>
            <a class="text-nowrap" href="{{ path('starry_night') }}">A Starry Night</a>
        </div>
        <div class="d-flex">
            <div class="mathia-text astro-link text-nowrap fst-italic">Aug 15th</div>
            <a class="text-nowrap" href="{{ path('signs_of_night_sky') }}">Sings of the Night Sky</a>
        </div>
        <div class="d-flex">
            <div class="mathia-text astro-link text-nowrap fst-italic">&nbsp;&nbsp;Nov 4th</div>
            <a class="text-nowrap" href="{{ path('valley_fog') }}">The Valley Fog</a>
        </div>
    </div>

{% endblock %}