{% extends 'base.html.twig' %}

{% block content %}

    <div class="pt-5">
        <h1>
            ~2020
        </h1>
        <h1 class="pt-5">
            ~2021
        </h1>

        <div class="d-flex">
            <div class="mathia-text astro-link-date text-nowrap">Aug 12th</div>
            <a class="astro-link text-nowrap" href="{{ path('starry_night') }}">A Starry Night</a>
        </div>
        <div class="d-flex">
            <div class="mathia-text astro-link-date text-nowrap">Aug 15th</div>
            <a class="astro-link text-nowrap" href="{{ path('signs_of_night_sky') }}">Sings of the Night Sky</a>
        </div>
        <div class="d-flex">
            <div class="mathia-text astro-link-date text-nowrap">&nbsp;&nbsp;Nov 4th</div>
            <a class="astro-link text-nowrap" href="{{ path('valley_fog') }}">The Valley Fog</a>
        </div>
        <h1 class="pt-5">
            ~2022
        </h1>
    </div>

{% endblock %}