{% extends 'astro/astro.html.twig' %}

{% block page %}

    <div class="row">
        <div class="col-12 text-center px-3">
            <p class="pt-5">Hi :)</p>
            <p>
                At the 15th of August in 2021 I tested the
                Astrophotography-mode of my phone
                and the next pages are a small collection of all the pictures
                that I captured.
            </p>
            <p>Have fun!</p>
        </div>
    </div>

{% endblock %}

