{% extends 'astro/astro.html.twig' %}

{% block page %}

    <div class="row">
        <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center text-center pt-5 px-4 pb-2">
            It was a beautiful clear night
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center text-center pt-5 px-4 pb-2">
            I saw a lot of shooting stars and even catched some of them
        </div>
        <div class="col-lg-6 col-12">
            <img src="{{ asset('build/astro/milkyway.jpg') }}" alt="tree">
        </div>
        <div class="col-lg-6 col-12">
            <img src="{{ asset('build/astro/shootingstar.jpg') }}" alt="tree">
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center text-center pt-5 px-4 pb-2">
            *gaaaaziiing* ...
        </div>
        <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center text-center pt-5 px-4 pb-2">
            ... I called them "the thinking penguins"
        </div>
        <div class="col-lg-6 col-12">
            <img src="{{ asset('build/astro/tree.jpg') }}" alt="tree">
        </div>
        <div class="col-lg-6 col-12">
            <img src="{{ asset('build/astro/the_penguins.jpg') }}" alt="tree">
        </div>
    </div>

{% endblock %}
