{% extends 'astro/astro.html.twig' %}

{% block page %}

    <div class="row">
        <div class="col-lg-6 col-12 pt-5 px-2 pb-2">
            <div class="picture-text text-center">It was a beautiful clear night</div>
            <img src="{{ asset('build/astro/milkyway.jpg') }}" alt="tree">
        </div>
        <div class="col-lg-6 col-12 pt-5 px-2 pb-2">
            <div class="picture-text text-center">I saw a lot of shooting stars</div>
            <img src="{{ asset('build/astro/shootingstar.jpg') }}" alt="tree">
        </div>
        <div class="col-lg-6 col-12 pt-5 px-2 pb-2">
            <div class="picture-text text-center">gaaaaziiing ...</div>
            <img src="{{ asset('build/astro/tree.jpg') }}" alt="tree">
        </div>
        <div class="col-lg-6 col-12 pt-5 px-2 pb-2">
            <div class="picture-text text-center">"the thinking penguins"</div>
            <img src="{{ asset('build/astro/the_penguins.jpg') }}" alt="tree">
        </div>
    </div>

{% endblock %}
