{% extends 'base.html.twig' %}

{% block content %}

    <div class="d-flex justify-content-center flex-column align-items-center">
        <h1>
            Fehler oder so
        </h1>
    </div>

{% endblock %}